
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Data/Spotify/.ipynb_checkpoints/spotify-api-checkpoint.ipynb
book/.ipynb_checkpoints/thehistogram-checkpoint.ipynb
book/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Data/DataColada98/.ipynb_checkpoints/Mileage Distributions-checkpoint.ipynb
Data/DataColada98/.ipynb_checkpoints/MileageDistributions-checkpoint.ipynb
book/.ipynb_checkpoints/pycalculator-checkpoint.ipynb
book/.ipynb_checkpoints/pylibs-checkpoint.ipynb
book/.ipynb_checkpoints/statwrap0-checkpoint.ipynb
*.log
*.aux
