# Ignore log files and LaTeX aux files
*.log
*.aux

# Data file not tracked
Data/covid/HET_age_and_state_data.csv

# Compressed files
*.gz

# Temporary file
book/normal0.md

# Ignore Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# Ignore build artefacts & OS cruft
**/_build/
.DS_Store
